@{
    ViewData["Title"] = "About Service";
}
<h2>How does it work</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>It's easy</h3>
            If you wanna travel or just go to another town, search for neccesary route, phone the user and pack your things!
        </div>
        <div class="col-sm">
            <h3>It's comfortable</h3>
            One of the advantages is that you need not adjust for concrete time, like you have to do choosing a train like a transport. And probably it's cheeper than a bus
        </div>
        <div class="col-sm">
            <h3>It's fast</h3>
            You can talk to your campanion and he will gradly be agree to drop you off where you need. So you don't need to go to metro additionally
        </div>
    </div>
</div>

<h2 style="margin-top: 50px">Why exactly ByRoute</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Reliability</h3>
          We have a system of user-driver control, so you need not worry about something may happend with you during your travelling
        </div>
        <div class="col-sm">
            <h3>Community</h3>
           We have travellers communite, so share your stories, routes, photos, and look for new travelling opportinities too
        </div>
        <div class="col-sm">
            <h3>Simplicity</h3>
            We have no payment system, but in future we'll think about it. So search for a route and just call your possible driver
        </div>
    </div>
</div>

