﻿ /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #8f008e;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

img {
    height: 70px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*form {
    width: auto;
    float: right;
    margin-right: 30px;
}
input {
    width: 150px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    outline: none;
    position: relative;
    transition: .3s linear;
}
    input:focus {
        width: 200px;
    }
button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    /*position: absolute;*/
top: -2px;
right: 0;
}

button:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}

*/



.border-top {
    border-top: 3px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#carousel {
    text-align: center;
}

.row {
    /*text-align-last:center;*/
    /*margin-left:370px;
    margin-right:1px;
    margin-top:70px;*/
}

.col-sm {
    text-align: left;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 250px;
    object-fit: cover;
}
